<div class="dashboard-container">
  <div class='thd-header'>
    <span class='thd-header-title'>User Management</span>
  </div>
  <div class="table-container">
    <div class="table-header">
      <div>All Users</div>
      <div><button mat-raised-button (click)="onCreateClick()" class="thd-button-active button-huge">Create One</button></div>
    </div>
    <div>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th class="middle">Name</th>
            <th class="middle">First Name</th>
            <th class="middle">Last Name</th>
            <th class="middle">Role</th>
            <th class="middle">Email</th>
            <th class="middle"></th>
            <th class="middle">
              <input type="text" (keyup)="search($event)" placeholder="Search" class="thd-input">
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usersTemp">
            <td>{{user.userName}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{rols[user.userRole].text}}</td>
            <td colspan="2">{{user.email}}</td>
            <td>
              <div class="btn-container">
                <div class="pr-4 pointer">
                  <img (click)="onEditClick(user)" src="assets/resources/setting.svg" class="logo-image">
                </div>
                <div class="pointer" *ngIf="isMyself(user.id)">
                  <img (click)="onRemoveClick(user.id)" src="assets/resources/remove.svg" class="logo-image">
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>